name: Ubuntu's CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install required libs
        run: |
          sudo apt-get update
          sudo apt-get install git build-essential cmake libcapstone-dev -y

      - name: Build HexViewer
        run: |
          chmod a+x build_linux.sh
          ./build_linux.sh
          pwd
          ls
          echo "I am here!"

      - name: Upload Release as Download
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          tag_name: Beta
          draft: false
          prerelease: true
          files: |
            /home/runner/work/HexViewer/HexViewer/build/bin/HexViewer